<div class="col-md-8 col-x-12">
  <% unless @workouts.empty? %>
  <h1>Listing Workouts</h1>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Duration (mins)</th>
        <th>Details</th>
        <th>Date</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout.duration %></td>
        <td><%= truncate(workout.details, length: 100) %></td>
        <td><%= workout.date %></td>
        <td><%= link_to "Show", [current_user, workout] %></td>
        <td><%= link_to "Edit", [:edit, current_user, workout] %></td>
        <td><%= link_to "Delete", [current_user, workout],
                method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <% else %>
  <div class="alert alert-danger message-font text-center" role="alert">
    No workouts yet
  </div>
  <br>
  <% end %>
  <%= link_to "New Workout", new_user_workout_path(current_user),
                               class: 'btn btn-primary link' %>
  <%= content_tag :div, "", id: 'chart', data: { workouts: @workouts } %>
</div>

<div class="col-md-4 col-xs-12">
  <h1 class="text-center">My Friends</h1>
  <% @friends.each do |friend| %>
  <div class="col-md-6 col-md-offset-3 friend_name">
    <%= link_to friend.full_name,
        friendship_path(current_user.current_friendship(friend)) %>
  </div>
  <div class="col-md-3">
    <%= link_to "Unfollow",
    friendship_path(current_user.current_friendship(friend)), method: :delete,
    data: { confirm: "Are you sure?" }, class: 'btn btn-warning link' %>
  </div>
  <% end %>
</div>